body {
    background-color: black;
}

h1 {
    border-color: blue;
    border-style: dotted;
    font-size: 80px;
    text-align: center;
    color:red;
}

h2, h3, h4, h5, h6 {
    font-size: xx-large;
    text-decoration: underline;
    color: red;
}
li {
    font-size: x-large;
    color: red;
}

#img5 {
    margin-left: 500px;
}

p {
    text-decoration: underline;
    font-size: xx-large;
    color: red;
}

a {
    margin-left: 600px;
    font-size: x-large;
    color: yellow;
}